.iframe-class {
    height: auto;
    overflow: auto;
	
}
.container-fix {
    width: 85%;
    height: auto;
	margin-left: auto;
    margin-right: auto;
}
.container-fix2 {
    width: 60%;
    height: auto;
	margin-left: auto;
    margin-right: auto;
}
.container-fix2{
		margin-left: auto;
    margin-right: auto;
}