html, body{
	background-color:none;	
	padding:0;
	margin:0;
	height:100vh;
	overflow-x:hidden;
	
}
.wrapper{
	position:absolute;
	display:flex;
	transition: .7s ease;
}

.img_container{
	display:inline-block;
	padding-left:25vw;
	padding-right:25vw;

	width:100vw;
	height:80vh;
	position:absolute;
	float:left;
}

.img_container img{
	margin-left:auto;
	margin-right:auto;
	width:50%;
	height:auto;
	transition: .5s ease;
	
}
/*
.caption{
	background-color:grey;
	height:20vh;
}
*/
a{
	text-decoration: none;
	color:white;
}